snippet img
	![${1}](/notes/img/${2})${3}
snippet h3
	###
snippet h4
	####
snippet h5
	#####
snippet h6
	######
snippet hr
	- - -
	${1}
snippet `
	```${1}
	```
# jekyll/liquid
snippet hl
	{% highlight ${1} %}
		${0}
	{% endhighlight %}
snippet a
	[${1}](${0:url})
