snippet view
	<View>${0}</View>
snippet View
	<View>${0}</View>
snippet text
	<Text>${0}</Text>
snippet Text
	<Text>${0}</Text>
snippet row
	<Row>${0}</Row>
snippet Row
	<Row>${0}</Row>
snippet grid
	<Grid>${0}</Grid>
snippet Grid
	<Grid>${0}</Grid>
snippet col
	<Col>${0}</Col>
snippet Col
	<Col>${0}</Col>
