"*":
  core:
    disabledPackages: [
      "jshint"
      "language-aspx"
      "language-javascript-jsx"
      "language-javascript"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-darker-high-contrast-syntax"
    ]
  editor:
    fontSize: 15
    invisibles: {}
    softWrap: true
  emmet: {}
  "exception-reporting":
    userId: "f6173414-1c4c-fefc-8010-ad061fcf748c"
  "file-icons":
    onChanges: true
  "fuzzy-finder":
    ignoredNames: [
      ".scssc"
    ]
    preserveLastSearch: true
  "git-diff": {}
  "linter-eslint":
    disableWhenNoEslintConfig: false
    useGlobalEslint: true
  "linter-ruby":
    ignoredExtensions: [
      "erb"
      "md"
      "haml"
    ]
  "linter-ui-default":
    showPanel: true
  "package-sync":
    createOnChange: true
  tabs:
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
