packages: [
  "atom-dark-fusion-syntax"
  "atom-handlebars"
  "auto-detect-indentation"
  "base16-atelierlakeside-dark-theme-syntax"
  "base16-darker-high-contrast-syntax"
  "base16-eighties-dark"
  "base16-ocean-dark"
  "base16-ocean-dark-spacegray"
  "base16-ocean-dark-syntax-theme"
  "base16-syntax"
  "busy-signal"
  "cobalt2-syntax"
  "duotone-dark-sea-syntax"
  "duotone-dark-syntax"
  "emmet"
  "file-icons"
  "firewatch-syntax"
  "genesis-syntax"
  "genesis-ui"
  "git-blame"
  "indent-guide-improved"
  "intentions"
  "jshint"
  "language-aspx"
  "language-babel"
  "language-haml"
  "language-javascript-jsx"
  "language-rspec"
  "less-than-slash"
  "linter"
  "linter-eslint"
  "linter-ruby"
  "linter-ui-default"
  "merge-conflicts"
  "minimap"
  "monokai-dark"
  "monokai-seti"
  "monokai-slate"
  "one-dark-vivid-syntax"
  "package-sync"
  "pigments"
  "pretty-json"
  "rails-latest-migration"
  "seti-syntax"
  "seti-ui"
  "specials-board"
  "Sublime-Style-Column-Selection"
  "todo-show"
]
